#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

p {
  word-wrap: break-word;
}

img {
  vertical-align: top;
  width: 100%;
  height: auto;
}

li {
  list-style: none;
}

.dt {
  font-weight: 700;
}
.success {
  color: green;
}

.dangerous {
  color: red;
}

.grey {
  background-color: grey;
}

.xs {
  width: 15px;
  height: 15px;
  font-size: 10px;
}

.sm {
  width: 25px;
  height: 25px;
  font-size: 15px;
}

.md {
  width: 30px;
  height: 30px;
  font-size: 20px;
}
.mdx {
  width: 34px;
  height: 34px;
  font-size: 24px;
}

.lg {
  width: 38px;
  height: 38px;
  font-size: 28px;
}

.xlg {
  font-size: 46px;
  width: 46px;
  height: 36px;
}

.xxlg {
  font-size: 55px;
  width: 55px;
  height: 48px;
}

.xxxlg {
  font-size: 64px;
  width: 64px;
  height: 64px;
}
